<%- include('../partials/header')%>

    <%- include('../partials/nav')%>
    <main class="container">
        <a href="/admin/create">create menu</a>

        <h1>Dashboard</h1>
    </main>

      

<%- include('../partials/footer')%>