<%- include('../partials/header')%>

<main id="admin-login">
    <form action="">
        <h1>Login</h1>
        <input type="email" placeholder="Email Address">
        <input type="password" placeholder="password">
        <input type="submit" value="Log In">
    </form>
</main>

<%- include('../partials/footer')%>