<header class="container">
    <div id="logo">
        <a href="/admin">
            <img src="/images/logo1.jpg" alt="Borcelle Restaurant">
        </a>
        Borcelle Restaurant
    </div>
    <h1></h1>
    <nav>
        <a href="/admin/logout">Log Out</a>
    </nav>
</header>